<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<globalization culture="auto" uiCulture="auto"/>
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="c" namespace="Calyptus.ResourceManager" assembly="Calyptus.ResourceManager"/>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="GET,HEAD" path="*.res.axd" type="Calyptus.ResourceManager.ResourceHttpHandler, Calyptus.ResourceManager" validate="false"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ResourceHandler"/>
			<add name="ResourceHandler" preCondition="integratedMode" verb="GET,HEAD" path="*.res.axd" type="Calyptus.ResourceManager.ResourceHttpHandler, Calyptus.ResourceManager"/>
		</handlers>
	</system.webServer>
</configuration>
